* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bProjetos{
  background-color: teal;
}
body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    
    font-size: 10px;
  }
  /*Se a tela tiver pelo menos 400 px vai carregar esses estilos*/
  @media(min-width: 400px){
    body {
      font-size: 14px;
    }

  }

  @media(min-width: 600px){
    body {
      font-size: 18px;
    }

  }

  header{
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu{
    background-color: whitesmoke;

    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  .menu li {
    list-style: none;
    
  }
  .menu ul{
    display: flex;
    justify-content:space-around; 
  }
  .menu a{
    display: block;
    padding: 10px 20px;
    transition: 0.5s;


  }
  a{  
    color: rgb(0, 0, 0);
    text-decoration:none;
  }

  .menu a:active,
  .menu a:hover{
    background-color: rgba(46, 139, 86, 0.781);
    color: whitesmoke;
  }
  a:hover{
    text-decoration:underline;
    color: seagreen
  }
  .site-subtitle,
  .site-title {
    
    text-align:center;
   }

  .site-title{
    font-size: 4 en;
    color: rgb(255, 249, 249);
    text-shadow: 2px 2px 2px black;
    font-family: 'Bowlby One', cursive;
  }

  .site-subtitle {
    color: rgb(0, 0, 0);
    font-style: italic;

    line-height: 1.4 em;
  }
/*
  .site-subtitle{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: animacaoSubTitulo 1s forwards; 
  }
*/

/*
  .pri{
    transform: scale(3) translateY(50vh) rotateX(40deg);
    opacity: 1;
    animation: linear animacaoSubTitulo 5s forwards; 
  }

  @keyframes animacaoSubTitulo{
    100%{
      transform: scale(0) translateY(-20vh) rotateX(80deg);
      opacity: 0;
    }
  }
*/

  .sobre,
  .projetos{
    min-height: 100vh;
   
    
  }

  .contato {
    min-height: 30vh;
  }



  .projetos {
    background-color: rgb(255, 255, 255);
  }
  .sobre {
    background-color: rgb(81, 219, 99);
  }
  .contato {
    background-color: rgb(55, 81, 95);
  }

  .contato a {
    color: whitesmoke;
    font-size: 4em;
    text-align: center;
  }

  .contato a:active,
  .contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 21px rgba(255,255,255,0.5);
    transition: text-shadow 1s;
  }


  h2{
    padding-left: 20px;
    margin-bottom: 1.5 em;
  }

  .sobre h2,
  .projetos h2,
  .contato h2 {
    padding-top: 1.8em;
   
    
  }

  .contato h2{
    color: whitesmoke;
  }

  .container{
    
    display: flex;
    /*justify-content: center;*/
    align-items: center;
  }

  .sobre-detalhes-nome{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    color: black;
  }
  .retrato {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
  }

  .img-portfolio {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
  }

  .img-portfolio:hover{
    transform: scale(1.2) rotate(2deg);
  }

  .grid{

    display: grid;
    gap: 1em;
    
  }


  @media (min-width: 551px){
    .projetos .grid{
      align-items: center;
      justify-content: center;
      height: calc(100vh - 48px);
      grid-template-columns: 250px 250px;
  
    }
  }

  @media (min-width: 860px){
    .projetos .grid{
      
      grid-template-columns: repeat(3, 250px);
      align-items: center;
      justify-content: center;
      height: calc(100vh - 48px);
      
    }
  }

  .projetos figure{
    text-align: center;
    height: calc(100vh -4.6em);
  }

  @media (min-width: 551px){
    .contato .grid{
      align-items: center;
      justify-content: center;
      
      grid-template-columns: 250px 250px;
  
    }
  }

  @media (min-width: 860px){
    .contato .grid{
      
      grid-template-columns: repeat(3, 250px);
      align-items: center;
      justify-content: center;
      
      
    }
  }




